body { background: #e092bf; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 38px; display: flex; }
.block-user-0 { color: #d62f85; font-size: 18px; margin-bottom: 5px; }
.block-sms-1 { color: #62ddf7; font-size: 13px; margin-bottom: 5px; }
.block-email-2 { color: #ff8a73; font-size: 21px; margin-bottom: 5px; }
.block-payment-3 { color: #c993b9; font-size: 18px; margin-bottom: 5px; }
.block-database-4 { color: #1dc645; font-size: 21px; margin-bottom: 5px; }
.block-session-5 { color: #4a8ad7; font-size: 14px; margin-bottom: 5px; }